.hhouse{
    background-color: black;
    color: white;
    margin: auto;
}
.hhouse .members{
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction:column-reverse;
    /* left: 33%; */
    /* top:50% */
    
}

.team{
    display: flex;
    justify-content: center;
}
.team img{
    height: 20vw;
    width: 20vw;
}
 