ul{
    
    display: flex;
    list-style: none;;
    /* justify-content:flex-start; */
}

.font{
    margin-top: 35%;
    color: black;
  text-shadow: 0.2vw 0.2vw 0.2vw  white;
    /* background:linear-gradient(to left,white,black); */

    font-size: 2.5vw;
    
}
.img1{
    margin-top: 25%;
}
.img2{
   
    margin-top: 17%;
}

.hname{
    font-size: 3vw;
    font-family: 'Tangerine', cursive;
    color: white;
    text-shadow: 0.2vw 0.4vw 0.3vw  rgb(197, 186, 190)
}
.house{
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.housename{
    padding: 2%;
    margin: 2%;
    border-radius: 10%;
    box-shadow: 0.2vw 0.2vw 0.2vw 0.4vw rgb(165, 188, 229);
    
}
.housename img{
    width:20vw;
    height:20vw;
}

.housename .text{
    color: rgb(151, 166, 231);
    font-size: 2vw;
    font-size: 2vw;
    font-family:sans-serif;
}
.housename .btn{
    border-radius: 20%;
    box-shadow: 0.2vw 0.2vw 0.2vw 0.3vw rgb(165, 188, 229);
    font-size: 1.2vw;
    background-color: black;
    color: white;
   position: absolute;
   right: 0;
   bottom: 0;
}

.btn a{
    color: white;
    text-decoration: none;
    font-size: 1.3vw;
}
.title{
    color: white;
}

/* 
section img{
    position: relative;
    top: 0;
    left: 0;
    display: block;
    object-fit: cover;
} */

.moon{
    position:absolute;
    left: -2vw;
    top: 10vw;
    width:20vw;

}
.owl{
    position: absolute;
    top: 20%;
    right: 0;
    width:20vw;

}
.building{
    /* width:100%; */
    background-size: cover;
    background-position: center;
    border-radius: 10%;
   
    width:80vw;
opacity: 0.9;
       background: linear-gradient(180deg,rgba(0,0,0,0) 20%,rgba(0,0,0,1));
    height: 40vw;
}
section{
    padding: 9%;
    /* height: 40vw; */
}
/* .parallex::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width:100%;
} */